<div class="mx-auto my-8">
  <form
    (submit)="onSubmit()"
    [formGroup]="editTodoForm"
    class="mx-auto grid w-[80vw] max-w-3xl auto-rows-min grid-cols-form gap-2 lg:w-[45vw] lg:grid-rows-form"
  >
    <h3 class="col-start-0 col-span-2 row-start-1 text-2xl">Edit Todo</h3>
    <label
      for="titleEdit"
      class="col-span-2 col-start-1 row-start-2 lg:col-span-1"
    >
      <span>Title:</span>
      <input
        id="titleEdit"
        type="text"
        formControlName="title"
        class="input-default form-input"
        [ngClass]="{
          'input-error': title.invalid && title.dirty && title.touched
        }"
      />
    </label>
    <label
      for="descriptionEdit"
      class="col-span-2 col-start-1 row-start-4 lg:col-span-1 lg:col-start-2 lg:row-start-2"
      ><span>Description:</span>
      <input
        id="descriptionEdit"
        type="text"
        formControlName="description"
        class="input-default form-input"
        [ngClass]="{
          'input-error':
            description.invalid && description.dirty && description.touched
        }"
      />
    </label>
    <div
      class="col-span-2 col-start-1 row-start-3 text-sm text-red-500"
      *ngIf="title.invalid && title.dirty && title.touched"
    >
      <p *ngIf="title.errors?.['required']">The title is required</p>
      <p *ngIf="title.errors?.['maxlength']">
        The title must be less than 50 characters
      </p>
    </div>

    <div
      class="col-span-2 col-start-1 row-start-5 text-sm text-red-500 lg:col-start-2 lg:row-start-3"
      *ngIf="description.invalid && description.dirty && description.touched"
    >
      <p *ngIf="description.errors?.['required']">
        The description is required
      </p>
      <p *ngIf="description.errors?.['maxlength']">
        The description must be less than 250 characters
      </p>
    </div>

    <button
      [disabled]="!editTodoForm.valid"
      type="submit"
      class="col-span-2 col-start-1 row-start-6 h-fit rounded bg-yellow-300 px-4 py-2 shadow shadow-yellow-300 disabled:opacity-20 lg:row-start-4"
    >
      Submit
    </button>
  </form>
</div>
