/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.yellow.200") theme("colors.yellow.300");
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: theme("colors.yellow.100");
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: theme("colors.yellow.300");
    border-radius: 100vh;
    border: 3px solid theme("colors.yellow.300");
  }
}

input.ng-dirty.ng-invalid,
input.ng-touched.ng-invalid {
  box-shadow: 0 1px 3px 0 theme("boxShadowColor.red.500"),
    0 1px 2px -1px theme("boxShadowColor.red.500");
  outline-color: theme("boxShadowColor.red.500");
}
