<div class="mx-auto my-8">
  <form
    [formGroup]="todoForm"
    (ngSubmit)="onSubmit(todoForm)"
    class="grid-cols-form grid-rows-form grid max-w-3xl gap-2 mx-auto"
  >
    <h3 class="col-span-2 col-start-1 row-start-1 text-2xl">New Todo</h3>
    <label for="title" class="col-start-1 row-start-2">Title:</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      class="shadow-yellow-300 col-start-1 row-start-3 px-4 py-2 rounded shadow"
    />
    <label for="description" class="col-start-2 row-start-2"
      >Description:</label
    >
    <input
      id="description"
      type="text"
      formControlName="description"
      class="shadow-yellow-300 col-start-2 row-start-3 px-4 py-2 rounded shadow"
    />

    <div
      class="col-start-1 row-start-4 text-sm text-red-500"
      *ngIf="title.invalid && title.dirty && title.touched"
    >
      <p *ngIf="title.errors?.['required']">The title is required</p>
      <p *ngIf="title.errors?.['maxlength']">
        The title must be less than 50 characters
      </p>
    </div>

    <div
      class="col-start-2 row-start-4 text-sm text-red-500"
      *ngIf="description.invalid && description.dirty && description.touched"
    >
      <p *ngIf="description.errors?.['required']">
        The description is required
      </p>
      <p *ngIf="description.errors?.['maxlength']">
        The description must be less than 250 characters
      </p>
    </div>

    <button
      [disabled]="!todoForm.valid"
      type="submit"
      class="disabled:opacity-20 shadow-yellow-300 col-span-2 row-start-5 px-4 py-2 bg-yellow-300 rounded shadow"
    >
      Submit
    </button>
  </form>
</div>
